CLOUDFLARE_CONFIG_PATH=
CLOUDFLARE_ENV=
SOCIOS_ALLOWED_EMAILS=
TEAM_ALLOWED_EMAILS=
MANGANAFER_ALLOWED_EMAILS=
SITE_INDEXABLE=
MANGANAFER_QUOTING_BEARER_TOKEN=
MANGANAFER_PANEL_MONTHLY_FEE=
MANGANAFER_PANEL_MONTHLY_FEE_WITHOUT_VAT=
MANGANAFER_PANEL_FEE_VAT=
MANGANAFER_AVAILABLE_PANELS=
MANGANAFER_ANNUAL_PANEL_PRODUCTION_KWH=
MANGANAFER_DISCOUNT=
MANGANAFER_PANEL_POWER_W=
MANGANAFER_ANNUAL_DEGRADATION=
MANGANAFER_MAXIMUM_PANELS_PER_QUOTE=
